.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1450px;
  margin: 0 auto;
  color: #626262;
  text-align: justify;
  flex-direction: column;
  width: 100%;
}

.about-item {
  flex: 1;
  padding: 0rem 2rem 2rem 2rem;
}

.about-item p {
  font-size: 1.2rem;
  text-align: justify;
  font-weight: 100;
  line-height: 1.6;
}

.read-more-btn {
  display: none;
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .about-container {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-bottom: 5rem;
    max-width: 1400px;
    margin: 0 auto;
    color: #626262;
    text-align: justify;
    padding: 0;
  }

  .about-item h2 {
    padding-bottom: 3px;
  }

  .about-item p {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    font-size: 16px;
  }

  .about-item p.expanded {
    -webkit-line-clamp: unset;
  }

  .read-more-btn {
    background: linear-gradient(transparent, #fff 70%);
    border: none;
    color: #f36f20;
    padding: 30px 0 10px;
    width: 100%;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    margin-top: -40px;
    text-align: end;
    display: block;
    font-size: 10px;
    transition: all 0.3s ease;
    padding-right: 10px;
  }

  .read-more-btn:hover {
    color: #dd641e;
  }

  .read-more-btn.hidden {
    display: none;
  }
}
