/* Default styles for larger screens */
.banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-banner {
  background-image: url(../images/banner-image.jpg);
  height: 98.1vh;
}

.about-banner {
  background-image: url(../images/banner-about.jpg);
  height: 70vh;
}

.loan-banner {
  background-image: url(../images/banner-loan.jpg);
  height: 70vh;
}

.case-studies-banner {
  background-image: url(../images/banner-case-studies.jpg);
  height: 70vh;
}

.contact-banner {
  background-image: url(../images/banner-contact.jpg);
  height: 98vh;
}

.refinance-banner {
  background-image: url(../images/banner-refinance.jpg);
  height: 70vh;
}

.about-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(79, 39, 8, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.loan-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(79, 39, 8, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.refinance-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.banner-content {
  padding: 4rem 2rem;
  max-width: 700px;
  position: absolute;
  top: 30%;
  left: 10%;
}

.banner-content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 1rem;
}

.banner-content .banner-content-span {
  color: #f36f20;
  background: linear-gradient(45deg, #f36f20, #ff8c40, #e6661c, #f36f20);
  background-size: 300% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-text 3s ease infinite;
  font-weight: 200;
  transition: all 3s ease;
}

.banner-content .banner-content-span:hover {
  background-position: 100% 50%;
  font-weight: bolder;
}

@keyframes gradient-text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.banner-content p {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 2rem;
  font-weight: 100;
  text-align: justify;
}

.button-group {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.875rem 2rem;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.primary-btn {
  background: linear-gradient(45deg, #cd5611, #ff8c40, #f36f20);
  color: #ffffff;
  transition: all 0.3s;
  animation: gradient-animation 3s ease infinite;
}

.primary-btn:hover {
  background: linear-gradient(45deg, #405e8b, #626466, #34404c);
  color: #ffffff;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.secondary-btn {
  background-color: transparent;
  color: #f36f20;
  border: 2px solid #f36f20;
}

.secondary-btn:hover {
  background-color: rgba(255, 215, 0, 0.1);
  border: 2px solid #626466;
  color: #626466;
}

.banner-info {
  color: #ffffff;
  background-color: rgb(51, 51, 51);
  width: 100%;
  margin: 0 0 0 0;
  padding: 0;
  text-align: end;
}

.banner-info p {
  font-size: 10px;
  margin: 0px;
  padding: 3px 10px 3px 0;
  color: #ffffff;
}

.banner-info p span {
  color: #f36f20;
  font-weight: 900;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .banner {
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
  }

  /* Mobile responsive */
  .home-banner {
    background-image: url(../images/banner-image.jpg);
    height: 97.7vh;
    background-position: 85% center !important; /* Force position change with !important */
  }

  .about-banner {
    background-image: url(../images/banner-about.jpg);
    height: 70vh;
    background-position: 75% center !important; /* Force position change with !important */
  }

  .loan-banner {
    background-image: url(../images/banner-loan.jpg);
    height: 70vh;
    background-position: 70% center !important; /* Force position change with !important */
  }

  .case-studies-banner {
    background-image: url(../images/banner-case-studies.jpg);
    height: 70vh;
    background-position: 30% center !important; /* Force position change with !important */
  }

  .contact-banner {
    background-image: url(../images/banner-contact.jpg);
    height: 105vh;
    background-position: 60% center !important; /* Force position change with !important */
  }

  .refinance-banner {
    background-image: url(../images/banner-refinance.jpg);
    height: 70vh;
    background-position: 70% center !important; /* Force position change with !important */
  }

  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .banner-content {
    padding: 4rem 2rem;
    max-width: 600px;
    position: relative;
    top: 10%;
    left: 0;
  }

  .banner-content h1 {
    font-size: 2.5rem;
  }
  .banner-content p {
    font-size: 1rem;
  }

  .button-group {
    flex-direction: column;
  }

  .btn {
    width: 60%;
    text-align: center;
  }

  .banner-info {
    text-align: center;
  }

  .banner-info p {
    margin-right: 0;
    font-size: 9px;
    padding: 3px 0 3px 0;
  }
}

@media (max-width: 380px) {
  .contact-banner {
    background-image: url(../images/banner-contact.jpg);
    height: 120vh;
  }
}
