.contact-form {
  border-radius: 20px;
  transition: all 0.3s ease;
  width: 500px;
  position: absolute;
  top: 25%;
  left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 10px 15px 40px rgba(0, 0, 0, 0.5);
}

.contact-form:hover {
  transform: translateY(-20px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 1);
}

/* Hide Enquire Now button only in contact banner */
.contact-banner .open-modal-btn {
  display: disable; /* This will completely hide the button */
}

/* OR if you want to show it but disable it: */
.contact-banner .open-modal-btn {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.cover-loader {
  z-index: 1;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #f36f20; /* ORANGE */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 0.7s linear infinite;
  position: absolute;
  top: 200px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .contact-form {
    width: 95%;
    top: 20%;
    left: 2.5%;
  }
  .contact-banner .open-modal-btn {
    display: none; /* This will completely hide the button */
  }
}
