* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  animation: 1s mymove1;
}

/* ------ special effect ----- */
@keyframes mymove1 {
  1% {
    opacity: 0;
  }
}

/* Default styles for larger screens */
.home-banner {
  position: relative;
  background-image: url(../images/banner-image.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  border-radius: 15px;
  padding: 20px;
  width: 85%;
  position: absolute;
  top: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.verve-logo {
  height: 70px; /* Adjust this value to match your desired logo size */
  width: auto;
  object-fit: contain;
  margin-right: 50px;
}

@media (max-width: 768px) {
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .home-banner {
    background-image: url(../images/banner-image.jpg);
    background-repeat: no-repeat;
    background-position: 70% center !important; /* Force position change with !important */
    background-size: cover;
    height: 100vh;
  }

  .verve-logo {
    height: 50px; /* Slightly smaller on mobile */
  }

  .navbar {
    border-radius: 0px;
    padding: 20px;
    width: 100%;
    padding: 20px;
    top: 0px;
    box-shadow: none;
  }
}
