* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  animation: 1s mymove1;
}

/* ------ special effect ----- */
@keyframes mymove1 {
  1% {
    opacity: 0;
  }
}

.navbar {
  border-radius: 15px;
  padding: 20px;
  width: 85%;
  position: absolute;
  top: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.verve-logo {
  height: 70px; /* Adjust this value to match your desired logo size */
  width: auto;
  object-fit: contain;
  margin-right: 50px;
}

.dropdown-menu {
  background-color: #626466;
}

.dropdown-menu a {
  color: #ffffff;
  text-transform: uppercase;
}

.dropdown-menu a:hover {
  background-color: #637282;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .navbar {
    width: 90%;
  }
}

@media (max-width: 1050px) {
  .navbar {
    width: 100%;
  }
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .home-banner {
    background-image: url(../images/banner-image.jpg);
    background-repeat: no-repeat;
    background-position: 70% center !important; /* Force position change with !important */
    background-size: cover;
    height: 100vh;
  }

  .verve-logo {
    height: 50px; /* Slightly smaller on mobile */
  }

  .navbar {
    border-radius: 0px;
    padding: 20px;
    width: 100%;
    padding: 20px;
    top: 0px;
    box-shadow: none;
  }
}
