* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  animation: 0.5s mymove1;
}

/* ------ special effect ----- */
@keyframes mymove1 {
  1% {
    opacity: 0;
  }
}

.navbar {
  border-radius: 15px;
  padding: 20px;
  width: 85%;
  position: absolute;
  top: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: #626466;
  font-weight: 550;
}

.verve-logo {
  height: 70px; /* Adjust this value to match your desired logo size */
  width: auto;
  object-fit: contain;
  margin-right: 50px;
}

.dropdown-menu {
  background-color: #626466;
}

.dropdown-menu a {
  color: #ffffff;
  text-transform: uppercase;
}

.dropdown-menu a:hover {
  background-color: #637282;
  text-transform: uppercase;
  color: #ffffff;
}

.header-text {
  text-align: center;
  color: #626466;
  margin: 3rem;
  text-transform: uppercase;
}

.header-text span {
  color: #f36f20;
  background: linear-gradient(45deg, #f36f20, #ff8c40, #e6661c, #f36f20);
  background-size: 300% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-text 3s ease infinite;
  font-weight: 200;
}

@keyframes gradient-text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  font-size: 15px;
  color: #f36f20;
  font-weight: lighter;
}

.loader {
  border: 15px solid #f3f3f3; /* Light grey */
  border-top: 15px solid #f36f20; /* ORANGE */
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: spin 2s linear infinite;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1050px) {
  .navbar {
    width: 100%;
  }
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .verve-logo {
    height: 50px; /* Slightly smaller on mobile */
  }

  .navbar {
    border-radius: 0px;
    padding: 20px;
    width: 100%;
    padding: 20px;
    top: 0px;
    box-shadow: none;
  }

  .header-text h1 {
    font-size: 1.3rem;
  }
}
